.headerContainer {
  width: 100%;
  height: 72px;
  margin: 0;
  padding: 16px 12px;
  background-color: var(--color-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.headerLogoIcon {
  width: 80px;
  height: 68px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerLogoIcon:hover {
  border: none;
  transform: none;
}

.headerLogo {
  width: 100%;
  height: 100%;
}

.emptyBox {
  width: 100%;
  height: 100%;
}

.headerIconBox {
  width: fit-content;
  height: 100%;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.headerIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: var(--color-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerIconImage {
  width: 100%;
  height: 100%;
}

.themeSelector {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.themeSelectorOption {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.themeSelectorOptionColor {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}