/* --------- 루트 컨테이너 설정 --------- */

#root {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
}


/* --------- 반응형 디자인 --------- */

/* @media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  
  .App-header {
    padding: 1rem;
  }
  
  .card {
    padding: 1em;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0.5rem;
  }
  
  .App-header {
    padding: 0.5rem;
  }
  
  .card {
    padding: 0.5em;
  }
} */